<div>
  <h2>Custom Pipe Example</h2>
  <label for="cityFilter">Filter by City:</label>
  <input type="text" id="cityFilter" [(ngModel)]="filterCity" />

  <ul>
    <li *ngFor="let item of items | filterByCity: filterCity">
      {{ item.name }} - {{ item.city }}
    </li>
  </ul>
</div>
<hr style="margin: 10px 0; border-top: 1px solid red" />
<div>
  <input type="text" id="decimalValue" [(ngModel)]="decimalValue" />
  <h2>How many decimal has to display?</h2>
  <p>Size: {{ 288883.966332 | customDecimalDigits: decimalValue }}</p>
</div>
